<div class="text-center m-r-1 m-l-1">

  <div>
    <p>
      Это приложение - некоммерческий проект, созданный с целью закрепления навыков работы с :
    </p>
  </div>
  <div>
    <ul>
      <li>Spring Framework - Rest, Data JPA, Security</li>
      <li>Angular 5, Typescript</li>
      <li>Hibernate</li>
      <li>MySQL</li>
      <li>Javascript, Bootstrap, HTML, CSS</li>
    </ul>
  </div>
  <div class="text-center ">
    <a class="text-info" href="https://github.com/Arslanas/homefin">Github - front</a>
    <br>
    <a class="text-info" href="https://github.com/Arslanas/homefinServer">Github - server</a>
  </div>
  <div class="text-center m-t-1">
    <p>Для входа в приложение используйте логин - <span class="text-info">user</span> и пароль - <span class="text-info">password</span>.
      Регистрация в приложении не требует подтверждения введенных Вами данных (используйте
      произвольные). Eсли аутентификация длится долго, пожалуйста, обновите страницу и снова отправьте форму (издержки бесплатного тарифа).
    </p>
  </div>
  <div class="m-t-2">
    <button class="btn btn-info " (click)="onClick()">Далее</button>
  </div>
</div>
