<div class="title-block">
  <h3 class="title">
    Страница планирования <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded"><loader-anim></loader-anim></section>
<section class="section" *ngIf="isLoaded">
  <span class="section text-center h3" *ngIf="!isOutcome">У вас пока не было расходов</span>
  <div class="row" *ngIf="isOutcome">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-sm bordered">
          <div class="header-block">
            <h3 class="title">Расходы</h3>
          </div>
          <h5 class="planning-expenses pull-right">
            На счету: <span class="text-success">{{bill.value}} Р</span>
          </h5>
        </div>
        <div class="card-block">
          <div class="row" *ngFor="let c of categories">
            <div class="col-xs-6">
              <div class="n-progress">
                <div class="progress-bar {{getPercentageColor(getPercent(c, getPriceByCategory(c)))}}"
                     [ngStyle]="{width: getPercent(c, getPriceByCategory(c))+'%'}">
                  <span>{{c.name}}</span>
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <p>
                <span class="text-{{getPercentageColor(getPercent(c, getPriceByCategory(c)))}}">{{getPriceByCategory(c)}}</span>
                из
                <span class="text-primary">{{c.capacity}}</span>
                |
                итог <span class="text-{{getPercentageColor(getPercent(c, getPriceByCategory(c)))}}">{{c.capacity - getPriceByCategory(c)}}</span> (руб.)
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
