<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<div class="text-center" *ngIf="!isLoaded">
  <loader-anim></loader-anim>
</div>
<div *ngIf="isLoaded">
  <section class="section">
    <div class="row">
      <hf-bill-card [bill]="bill" [euro]="euro" [dollar]="dollar"></hf-bill-card>
      <hf-currency-card [euro]="euro" [dollar]="dollar" [currency]="currency"></hf-currency-card>
    </div>
    <div class="row">
      <hf-edit-bill-card [bill]="bill" (emitter)="onBillChanged($event)" ></hf-edit-bill-card>
    </div>
  </section>
</div>

