<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="onRefresh()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<div class="text-center" *ngIf = "!isLoaded">
  Loading...
</div>
<div *ngIf = "isLoaded">
  <section class="section">
    <div class="row">
      <hf-bill-card [bill]="bill" [currency]="currency"></hf-bill-card>
      <hf-currency-card [currency]="currency"></hf-currency-card>
    </div>
  </section>
</div>

